@import '~antd/dist/antd.css';

body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  background-color: #f8f8f8;

}

.content{
  background: linear-gradient(  rgba(224, 224, 224, 0), rgba(0, 0, 0, 0.8) ), url('./assets/economy.jpg');
}



